@import url('https://fonts.googleapis.com/css2?family=Monsterrat&display=swap');
body{
    background-image: linear-gradient(#636162, #blafaf);
    height: 122vh;
    font-weight: bold;
    letter-spcing: 2px;
}